:root {
    --button-border-color: rgba(88,101,242,.5);
    --button-border-color--selected: rgba(88,101,242,1);
    --button-bg-color: rgba(88,101,242,.1);
    --button-bg-color--selected: rgba(88,101,242,1);
}

body {
  font-size:20px;
  font-family:'Lato',sans-serif;
  color: #dcddde;
}

img {
  max-width:100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Oswald',sans-serif;
}

.item {
  padding-top:100px;
  min-height:150px;
  position:relative;
}

.item:before,.last-item:after {
  background:#fff;
  border:8px solid #000;
  border-radius:50%;
  width:40px;
  height:40px;
  display:inline-block;
  content:"";
  margin-left:1rem;
  position:relative;
  z-index:1;
  left:calc(2% - 36px);
}

.vertical-line {
  width:8px;
  background-color:#000;
  position:absolute;
  left:calc(2% - 5px);
  top:0;
  bottom:0;
}

.item .card-panel {
  margin:0;
  margin:2rem 0 0 3rem;
}

.item-date {
  margin-top:-60px;
  margin-left:4rem;
}

.cv-title {
  margin-bottom:0;
  text-align:center;
  line-height:190%;
}

.cv-title span {
  padding:1rem;
}

.last-item {
  padding-top:80px;
  height:70px;
  position:relative;
}

.card-author {
    color: hsla(0,0%,100%,.3);
}

.header-footer-container {
    text-align:center;
    background-color:#36393f;
    padding-top: 25px;
    padding-bottom: 25px;
}

a.button {
    background-color: var(--button-bg-color);
    border: .1rem solid;
    border-color: var(--button-border-color);
    border-radius: .1rem;
    color: #FFFFFF;
    padding: .625em 2em;
    transition: background-color 125ms, border-color 125ms;
}

a.button:hover {
    background-color: var(--button-bg-color--selected);
    border-color: var(--button-border-color--selected);
}

/* Grid stuff */
.grid-container {
    padding: .5rem;
}

.grid-wrapper--header {
    display: grid;
    grid-template-columns: 1fr;
    gap: .75rem;
}

.grid-wrapper--footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .grid-wrapper--footer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
  }
}

.grid-child {
    padding: 0.5rem;
}