:root, [data-md-color-scheme="discord"] {
    --md-default-bg-color: #202225;
    --md-default-fg-color: #dcddde;
    --md-default-fg-color--light: #dcddde;
    --md-default-fg-color--lightest: #dcddde;
    
    --md-primary-fg-color: #7388d9;
    
    --md-typeset-a-color: #039BE5;
    --md-code-fg-color: #d5d7e2;
    --md-code-bg-color: #2C2D30;
    
    --md-button-fg-color: #7388d9;
    --md-button-bg-color: #7388d91a;
}

.md-button--discord {
    color: var(--md-default-fg-color) !important;
    border-color: var(--md-button-fg-color) !important;
    background-color: var(--md-button-bg-color) !important;
}

.md-button--discord:hover {
    background-color: var(--md-button-fg-color) !important;
}