---
layout: default
---

<div class="container row">
  {% assign entries = site.entries | sort: 'date' %}
  {% for entry in entries reversed %}
    {% if entry.tags contains page.tag-name %}
    <div class="item">
      <i class="vertical-line"></i>
      <div class="card-panel">
        <h3 class="card-title">
          {{ entry.title }}
        </h3>
        <div class="card-author">
          Submitted by {{ entry.submitter }} | {{ entry.date | date: '%d/%m/%Y' }}
        </div>
        <hr>
        <p>
          {{ entry.content }}
        </p>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="last-item">
    <i class="vertical-line"></i>
  </div>
</div>